.main{
    input{
        border: 1px solid lightgray;
        border-radius: 5px;
        width: 362px;
        height: 56px;
        padding: 10px;
    }
    
}
#start{
    margin-left: 10px;
    text-align: left;
}
#birth{
    margin-left: 10px;
    text-align: left;
}